JS_CFB/Agenda/flows (5).json
[
    {
        "id": "5710e9d94c944f81",
        "type": "tab",
        "label": "Agenda",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "52bdbd6e466592b2",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "agenda1_js",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "f3f6705ce3a2e685",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "agenda1_js",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "e0c3335538882353",
        "type": "mysql",
        "z": "5710e9d94c944f81",
        "mydb": "f3f6705ce3a2e685",
        "name": "Agenda 1",
        "x": 440,
        "y": 100,
        "wires": [
            [
                "dabeeec8ed3a4994"
            ]
        ]
    },
    {
        "id": "7dc6d6afa7204c0c",
        "type": "http in",
        "z": "5710e9d94c944f81",
        "name": "",
        "url": "/contatos",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "37a9a79844c09b4e"
            ]
        ]
    },
    {
        "id": "dabeeec8ed3a4994",
        "type": "http response",
        "z": "5710e9d94c944f81",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "37a9a79844c09b4e",
        "type": "function",
        "z": "5710e9d94c944f81",
        "name": "function 1",
        "func": "msg.topic='select * from contato'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 100,
        "wires": [
            [
                "e0c3335538882353"
            ]
        ]
    },
    {
        "id": "11c90ee1b831a479",
        "type": "comment",
        "z": "5710e9d94c944f81",
        "name": "Faz a requisição, processa a requisição, consulta no banco e devolve a informação",
        "info": "Faz a requisição, processa a requisição, consulta no banco e devolve a informação",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "d3ce2ad90daa22fa",
        "type": "mysql",
        "z": "5710e9d94c944f81",
        "mydb": "f3f6705ce3a2e685",
        "name": "Agenda 1",
        "x": 440,
        "y": 160,
        "wires": [
            [
                "6e06330cd198d772"
            ]
        ]
    },
    {
        "id": "3495fef3d7e7dd1b",
        "type": "http in",
        "z": "5710e9d94c944f81",
        "name": "",
        "url": "/addcontatos",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "62bec1e7345eeda0"
            ]
        ]
    },
    {
        "id": "6e06330cd198d772",
        "type": "http response",
        "z": "5710e9d94c944f81",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "62bec1e7345eeda0",
        "type": "function",
        "z": "5710e9d94c944f81",
        "name": "function 2",
        "func": "msg.payload=JSON.parse(msg.payload)\nconst f_nome = msg.payload.f_nome\nconst f_celular = msg.payload.f_celular\nconst f_email = msg.payload.f_email\nconst f_dtnasc = msg.payload.f_dtnasc\n\nconst query = `insert into contato values (null, \"${f_nome}\",\"${f_celular}\",\"${f_email}\",\"${f_dtnasc}\")`\n\nmsg.topic=query\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 160,
        "wires": [
            [
                "d3ce2ad90daa22fa"
            ]
        ]
    },
    {
        "id": "ae3a890511e678f3",
        "type": "mysql",
        "z": "5710e9d94c944f81",
        "mydb": "f3f6705ce3a2e685",
        "name": "Agenda 1",
        "x": 640,
        "y": 460,
        "wires": [
            [
                "5b80a806412bd6a0",
                "fad5336adcba334a"
            ]
        ]
    },
    {
        "id": "ad9eff3989b99f24",
        "type": "http in",
        "z": "5710e9d94c944f81",
        "name": "",
        "url": "/atualizarcontatos/:id/:nome/:celular/:email/:nasc",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 460,
        "wires": [
            [
                "f8b9e5705dfd66d7"
            ]
        ]
    },
    {
        "id": "5b80a806412bd6a0",
        "type": "http response",
        "z": "5710e9d94c944f81",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "f8b9e5705dfd66d7",
        "type": "function",
        "z": "5710e9d94c944f81",
        "name": "function 3",
        "func": "let id = msg.req.params.id\nlet nome = msg.req.params.nome\nlet celular = msg.req.params.celular\nlet email = msg.req.params.email\nlet nasc = msg.req.params.nasc\n\nmsg.topic = `update contato set s_nome_contato=\"${nome}\", s_celular_contato=\"${celular}\", s_email_contato=\"${email}\", dt_dtnasc_contato=\"${nasc}\" where n_contato_contato=${id}`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 460,
        "wires": [
            [
                "ae3a890511e678f3"
            ]
        ]
    },
    {
        "id": "a0f74342a550c175",
        "type": "mysql",
        "z": "5710e9d94c944f81",
        "mydb": "f3f6705ce3a2e685",
        "name": "Agenda 1",
        "x": 440,
        "y": 640,
        "wires": [
            [
                "99e097f69371b31b"
            ]
        ]
    },
    {
        "id": "aa1d0fe7864708af",
        "type": "http in",
        "z": "5710e9d94c944f81",
        "name": "",
        "url": "/deletarcontatos/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 640,
        "wires": [
            [
                "688b11681daf4ec2"
            ]
        ]
    },
    {
        "id": "99e097f69371b31b",
        "type": "http response",
        "z": "5710e9d94c944f81",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 570,
        "y": 640,
        "wires": []
    },
    {
        "id": "688b11681daf4ec2",
        "type": "function",
        "z": "5710e9d94c944f81",
        "name": "function 4",
        "func": "const id = msg.req.params.id\n\nmsg.topic=`delete from contato where n_contato_contato= ${id}`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 640,
        "wires": [
            [
                "a0f74342a550c175"
            ]
        ]
    },
    {
        "id": "8ec4dc0c910e4dff",
        "type": "mysql",
        "z": "5710e9d94c944f81",
        "mydb": "f3f6705ce3a2e685",
        "name": "Agenda 1",
        "x": 520,
        "y": 220,
        "wires": [
            [
                "91c5abd9718b62bb",
                "706e6800dedbda92"
            ]
        ]
    },
    {
        "id": "2fe151c62a638a94",
        "type": "http in",
        "z": "5710e9d94c944f81",
        "name": "",
        "url": "/pesquisarcontatos/:tipo/:pesq",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "7916206975f3e6b6"
            ]
        ]
    },
    {
        "id": "91c5abd9718b62bb",
        "type": "http response",
        "z": "5710e9d94c944f81",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "7916206975f3e6b6",
        "type": "function",
        "z": "5710e9d94c944f81",
        "name": "function 5",
        "func": "const tipo=msg.req.params.tipo\nconst pesq=msg.req.params.pesq\n\nlet query ='select * from contato where '\n\nif (tipo=='id'){\n    query+= ` n_contato_contato like \"%${pesq}%\"`\n} else if (tipo == 'nome') {\n    query += ` s_nome_contato like \"%${pesq}%\"`\n} else if (tipo == 'nasc') {\n    query += ` dt_dtnasc_contato = \"${pesq}\"`\n} else if (tipo == 'email') {\n    query += ` s_email_contato like \"%${pesq}%\"`\n}\n\nmsg.topic= query\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 220,
        "wires": [
            [
                "8ec4dc0c910e4dff"
            ]
        ]
    },
    {
        "id": "cd708e93628daccc",
        "type": "mysql",
        "z": "5710e9d94c944f81",
        "mydb": "f3f6705ce3a2e685",
        "name": "Agenda 1",
        "x": 520,
        "y": 340,
        "wires": [
            [
                "8984f1340216680f",
                "2f40355dc7ccd30b"
            ]
        ]
    },
    {
        "id": "9e1fbaceaff81f4d",
        "type": "http in",
        "z": "5710e9d94c944f81",
        "name": "",
        "url": "/pesquisartodoscontatos",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "60e4826186ba59a5"
            ]
        ]
    },
    {
        "id": "8984f1340216680f",
        "type": "http response",
        "z": "5710e9d94c944f81",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "60e4826186ba59a5",
        "type": "function",
        "z": "5710e9d94c944f81",
        "name": "function 6",
        "func": "let query ='select * from contato'\n\nmsg.topic= query\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 340,
        "wires": [
            [
                "cd708e93628daccc"
            ]
        ]
    },
    {
        "id": "706e6800dedbda92",
        "type": "debug",
        "z": "5710e9d94c944f81",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "2f40355dc7ccd30b",
        "type": "debug",
        "z": "5710e9d94c944f81",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 400,
        "wires": []
    },
    {
        "id": "fad5336adcba334a",
        "type": "debug",
        "z": "5710e9d94c944f81",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 520,
        "wires": []
    },
    {
        "id": "1ce39de2e745432d",
        "type": "mysql",
        "z": "5710e9d94c944f81",
        "mydb": "f3f6705ce3a2e685",
        "name": "Agenda 1",
        "x": 500,
        "y": 780,
        "wires": [
            [
                "9a879a1146f219a7",
                "900ea4ce92dc86cd"
            ]
        ]
    },
    {
        "id": "d5ea59f510d81f48",
        "type": "http in",
        "z": "5710e9d94c944f81",
        "name": "",
        "url": "/filtrar/:nome",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 780,
        "wires": [
            [
                "67dabc48f743fc62"
            ]
        ]
    },
    {
        "id": "9a879a1146f219a7",
        "type": "http response",
        "z": "5710e9d94c944f81",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 650,
        "y": 780,
        "wires": []
    },
    {
        "id": "67dabc48f743fc62",
        "type": "function",
        "z": "5710e9d94c944f81",
        "name": "function 7",
        "func": "const nome = msg.req.params.nome\nlet query =`select * from contato where s_nome_contato like \"%${nome}%\"`\n\nmsg.topic= query\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 780,
        "wires": [
            [
                "1ce39de2e745432d"
            ]
        ]
    },
    {
        "id": "900ea4ce92dc86cd",
        "type": "debug",
        "z": "5710e9d94c944f81",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 840,
        "wires": []
    }
]